APP_NAME=SAIP Platform API
ENVIRONMENT=development
DEBUG=true
API_V1_PREFIX=/api/v1

LOG_LEVEL=INFO

POSTGRES_USER=saip
POSTGRES_PASSWORD=saip
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=saip

BACKEND_CORS_ORIGINS=["http://localhost:3000"]
